@font-face {
  font-family: "dohyeon";
  src: url("../font/DoHyeon-Regular.ttf");
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  font-family: "dohyeon";
  font-weight: 100;
}
#guide {
  margin: 3px;
}
#disaster {
  width: 200px;
  padding: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  border: green solid 2px;
  border-radius: 15px;

  /* background-color: #d3d3d3; */
}
.select {
  width: 300px;
  height: 180px;
  position: absolute;
  top: 350px;
  right: 145px;
  padding: 20px;
  padding-left: 30px;
  font-family: "dohyeon";
  font-size: 13px;
  font-weight: 100;
  border: 2px solid green;
  border-radius: 15px;
  float: right;
}
.select h4 {
  display: inline-block;
  font-weight: 100;
  font-size: 13px;
  margin: 7px;
}

#buttons button {
  height: 35px;
  background-color: rgb(250, 246, 233);
  font-size: 15px;
}

#disasters button {
  margin-top: -2px;
  margin-left: -2px;
  width: 11.34%;
}

/* #calendar {
  margin-top: -42px;
  margin-left: 580px;
  padding: 4px;
  float: right;
} */

#calendar {
  margin-top: 10px;
}

#calendar input {
  width: 120px;
}

#menu {
  position: absolute;
  top: 350px;
  left: 0px;
  display: inline;
  width: 14%;
  height: 370px;
  font-family: "dohyeon";
  font-weight: 100;
  text-align: center;
  border: 2px solid green;
  background-color: rgb(187, 206, 187);
}
#menu a {
  display: block;
  margin-bottom: 15px;
}
#img img {
  width: 35%;
  margin-left: 250px;
}
#img2 img {
  width: 35%;
  margin-left: 18%;
}
#img3 img {
  width: 35%;
  margin-left: 21%;
  height: 13%;
}
#info {
  margin: 20px auto;
  width: 65%;
  font-family: "dohyeon";
  font-weight: 100;
}
#info #covid {
  width: 20%;
  height: 90%;
  border: 2px solid rgb(40, 102, 40);
  border-radius: 4px;
}
#info p {
  font-weight: 100;
  font-size: 15px;
}
.emo {
  font-family: "dohyeon";
  float: right;
  margin: 10px;
}
.emo img {
  display: block;
}
#Footer {
  float: left;
  width: 100%;
}
